* {
  margin: 0;
  padding: 0;
}
body{  background-color: rgb(60, 59, 59);
  color: ivory;
}
.container {
  margin: 5px;
  text-align: center;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(58, 58, 58);
  color: lime;
  padding: 10px;
}
.header input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.header input[type="submit"] {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.header input[type="submit"]:hover {
  background-color: #45a049;
}
.animes {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap: 10px;
  justify-content: space-around;
  p {
    color:gainsboro;
  }
  img{height: 300px;
    width: 200px;
  }
}
.detail {
  display: flex;
  justify-content: center;
}

.image {
  margin-right: 20px;
}

.image img {
  max-width: 200px;
  height: auto;
}
.anime-details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h3{
  margin-top: 2rem;
}
.anime-details p {
  font-size: 16px;
  margin: 5px 0;
}
.trailer iframe {
  width: 50%;
  height: 300px;
}

.characters {
  display: flex;
  flex-wrap: wrap;
}

.character {
  margin-right: 20px;
  width: 200px;
  height: 200px;
}

.character a {
  text-decoration: none;
  color: inherit;
}

.character img {
  max-width: 100px;
  height: 150px;
}

.character p {
  font-size: 14px;
  margin: 5px 0;
}
.anime-info-list {
  margin-bottom: 20px;
}

.anime-info-list h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.image-details-container {
  display: flex;
  align-items: center;
}

.image-container {
  margin-right: 20px;
}

.image-container img {
  max-width: 300px;
  height: auto;
}
.footer{background-color: rgb(65, 65, 65);
text-align: center;
color: papayawhip;}
